In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset=pd.read_csv(r"D:\Data Science\sales_data.csv")

In [3]:
dataset

,User_ID,Product_ID,Gender,Age,Occupation,City,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,Hyderabad,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,Hyderabad,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,Hyderabad,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,Hyderabad,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,Chennai,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,Bangalore,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,Chennai,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,Bangalore,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,Chennai,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,Bangalore,4+,1,20,NaN,NaN,490

# Task-Probabiliy of a customer is from bangalore

In [9]:
dataset["City"].value_counts()['Bangalore']

231173

In [6]:
dataset["City"].value_counts().sum()

550068

In [10]:
p_b=dataset["City"].value_counts()['Bangalore']/dataset["City"].value_counts().sum()

In [11]:
p_b

0.420262585716675

In [12]:
# 42% chance that a customer randomly picked from abc sale data will be from bangalore

In [13]:
#Probablity of customer not from bangalore
p_nb=1-p_b

In [14]:
p_nb

0.5797374142833249

In [15]:
dataset["City"].value_counts()["Chennai"]

Bangalore    231173
Chennai      171175
Hyderabad    147720
Name: City, dtype: int64

In [23]:
p_nb=(dataset["City"].value_counts()["Chennai"]+dataset["City"].value_counts()["Hyderabad"])/dataset["City"].value_counts().sum()

In [24]:
p_nb

0.5797374142833249