In [1]:
li=[]

In [2]:
type(li)

list

In [3]:
li=[1,2,4.5,True,"Hello"]

In [4]:
type(li)

list

In [5]:
li

[1, 2, 4.5, True, 'Hello']

In [6]:
li[0]

1

In [7]:
li[1]

2

In [8]:
li[1:3]

[2, 4.5]

In [9]:
li[3:5]

[True, 'Hello']

In [10]:
li[-1]

'Hello'

In [11]:
li

[1, 2, 4.5, True, 'Hello']

In [12]:
li[1]

2

In [13]:
li[1]=5

In [14]:
li

[1, 5, 4.5, True, 'Hello']

In [18]:
li[-1]=6

In [19]:
li

[1, 5, 4.5, True, 6]

In [20]:
li.append(7)

In [21]:
li

[1, 5, 4.5, True, 6, 7]

In [22]:
#Element
li.append(8)

In [23]:
li

[1, 5, 4.5, True, 6, 7, 8]

In [24]:
#Index
#Element
li.insert(2,"Python")

In [25]:
li

[1, 5, 'Python', 4.5, True, 6, 7, 8]

In [26]:
li.insert(0,0)

In [27]:
li

[0, 1, 5, 'Python', 4.5, True, 6, 7, 8]

In [29]:
li[3]=4

In [30]:
li

[0, 1, 5, 4, 4.5, True, 6, 7, 8]

In [31]:
li.pop()

8

In [32]:
li

[0, 1, 5, 4, 4.5, True, 6, 7]

In [33]:
li.pop()

7

In [34]:
li

[0, 1, 5, 4, 4.5, True, 6]

In [35]:
li.pop(2)

5

In [36]:
li

[0, 1, 4, 4.5, True, 6]

In [37]:
li.pop(-2)

True

In [38]:
li

[0, 1, 4, 4.5, 6]

In [39]:
li.remove(4.5)

In [40]:
li

[0, 1, 4, 6]

In [57]:
li=[0,1,2,3,4,True,5,6]

In [58]:
li

[0, 1, 2, 3, 4, True, 5, 6]

In [61]:
li.remove(True)

In [63]:
li

[0, 2, 3, 4, 5, 6]

In [64]:
li

[0, 2, 3, 4, 5, 6]

In [65]:
li.index(2)

1

In [66]:
li.index(5)

4

In [67]:
li.index(6)

5

In [80]:
li=[1,1,2,3,3,2,4,True,4.5,4.5]

In [81]:
li

[1, 1, 2, 3, 3, 2, 4, True, 4.5, 4.5]

In [83]:
#1. Element
#2. Start Index
#3.End Index
li.index(2,3,10)

5

In [78]:
li.count(1)

3

In [84]:
li.count(2)

2

In [86]:
li.count(4.5)

2

In [99]:
l1=[1,2,3,4,5]

In [100]:
l2=[6,7,8,9,10]

In [89]:
l1.extend(l2)

In [90]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [91]:
l2

[6, 7, 8, 9, 10]

In [101]:
l1

[1, 2, 3, 4, 5]

In [102]:
l2

[6, 7, 8, 9, 10]

In [103]:
l1.append(l2)

In [104]:
l1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [105]:
l1.reverse()

In [106]:
l1

[[6, 7, 8, 9, 10], 5, 4, 3, 2, 1]

In [107]:
l1=[1,5,2,6,100,4,5]

In [108]:
l1

[1, 5, 2, 6, 100, 4, 5]

In [109]:
l1.sort()

In [110]:
l1

[1, 2, 4, 5, 5, 6, 100]

In [111]:
l1.sort(reverse=True)

In [112]:
l1

[100, 6, 5, 5, 4, 2, 1]

In [113]:
l1=[1,2,"Hello",3,4,5]

In [117]:
l=l1.copy()

In [118]:
l

[1, 2, 'Hello', 3, 4, 5]

In [122]:
l=["world","Hello","Python"]

In [123]:
l.sort()

In [124]:
l

['Hello', 'Python', 'world']

In [125]:
l1=[1,2,"Hello",3,4,5]

In [126]:
l1.clear()

In [127]:
l1

[]

In [168]:
l=[[1,2,3,4,5,6],[7,8,9,10,11]]

In [129]:
l

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11]]

In [169]:
l1=[1,2,3,4,5,6]

In [170]:
l2=[7,8,9,10,11]

In [130]:
l[0]

[1, 2, 3, 4, 5, 6]

In [131]:
l[1]

[7, 8, 9, 10, 11]

In [134]:
l[0][1:4]

[2, 3, 4]

In [135]:
l[1][2:]

[9, 10, 11]

In [136]:
l

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11]]

In [142]:
l[0][2],l[1][1]

(3, 8)

# Tuple

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t=(1,2,3,4,5,True,4.5,"Python")

In [4]:
t

(1, 2, 3, 4, 5, True, 4.5, 'Python')

In [5]:
t[0]

1

In [6]:
t[2:5]

(3, 4, 5)

In [7]:
t[-1]

'Python'

In [8]:
t[1]=1

TypeError: 'tuple' object does not support item assignment

In [9]:
t=(1,2,3,1,3,4,1,1,5,6)

In [10]:
t

(1, 2, 3, 1, 3, 4, 1, 1, 5, 6)

In [11]:
t.count(1)

4

In [12]:
t.count(3)

2

In [13]:
t.index(3)

2

In [14]:
t.index(1,3)

3

In [15]:
l=[1,2,3,4,5,6]

In [16]:
len(l)

6

In [17]:
t=(1,2,3,4,5,6,7,"True",4.5)

In [18]:
len(t)

9

In [19]:
s="Python"

In [20]:
len(s)

6

In [21]:
l=[1,2,3,4,5,6]

In [22]:
l.pop(2)

3

In [23]:
l

[1, 2, 4, 5, 6]

In [25]:
del l[1]

In [26]:
l

[1, 4, 5, 6]

In [29]:
del l

In [31]:
t=(1,2,3,4,5,6,7,"True",4.5)

In [32]:
del t

In [34]:
l=[1,2,3,4,5,6]

In [35]:
max(l)

6

In [36]:
min(l)

1

In [37]:
l=[1,2,3,4,5,6,"Hello",4.5]

In [39]:
t=(1,2,3,4,5,6,7,4.5)

In [40]:
max(t)

7

In [41]:
min(t)

1

In [43]:
l=["Abhishek",26,"Hyderabad",72727272727]

# Dict

In [44]:
d={}

In [45]:
type(d)

dict

In [46]:
d={"Name":"Abhishek","Age":26,"City":"Hyderabad"}

In [47]:
d

{'Name': 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [48]:
d["Name"]

'Abhishek'

In [49]:
d["Age"]

26

In [50]:
d["City"]

'Hyderabad'

In [52]:
d

{'Name': 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [53]:
d={(1,2,3,4,5):"Abhishek","Age":26,"City":"Hyderabad"}

In [54]:
d

{(1, 2, 3, 4, 5): 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [55]:
d[(1, 2, 3, 4, 5)]

'Abhishek'

In [65]:
d={(1,2,3,4,5):"Abhishek","Age":26,"City":"Hyderabad"}

In [66]:
d

{(1, 2, 3, 4, 5): 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [67]:
d={"Name":"Abhishek","Age":26,"City":"Hyderabad"}

In [68]:
d

{'Name': 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [70]:
d["Name"]="Mahesh"

In [71]:
d

{'Name': 'Mahesh', 'Age': 26, 'City': 'Hyderabad'}

In [106]:
d={"Name":["Abhishek","Mahesh"],"Age":26,"City":"Hyderabad"}

In [107]:
d

{'Name': ['Abhishek', 'Mahesh'], 'Age': 26, 'City': 'Hyderabad'}

In [76]:
d["Name"][0]="Surya"

In [77]:
d

{'Name': ['Surya', 'Mahesh'], 'Age': 26, 'City': 'Hyderabad'}

In [78]:
d["City"]="Chennai"

In [79]:
d

{'Name': ['Surya', 'Mahesh'], 'Age': 26, 'City': 'Chennai'}

In [81]:
d.pop('Name')

['Surya', 'Mahesh']

In [82]:
d

{'Age': 26, 'City': 'Chennai'}

In [112]:
d={"Name":"Abhishek","Age":26,"City":"Hyderabad"}

In [113]:
d

{'Name': 'Abhishek', 'Age': 26, 'City': 'Hyderabad'}

In [114]:
d.popitem()

('City', 'Hyderabad')

In [115]:
d

{'Name': 'Abhishek', 'Age': 26}

In [116]:
d["Blood Group"]="O+"

In [117]:
d

{'Name': 'Abhishek', 'Age': 26, 'Blood Group': 'O+'}

In [118]:
d["City"]="Hyderabad"

In [119]:
d

{'Name': 'Abhishek', 'Age': 26, 'Blood Group': 'O+', 'City': 'Hyderabad'}

In [120]:
d.popitem()

('City', 'Hyderabad')

In [121]:
d

{'Name': 'Abhishek', 'Age': 26, 'Blood Group': 'O+'}

In [122]:
d.update({"City":"Hyderabad","Salary":"10000"})

In [123]:
d

{'Name': 'Abhishek',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [124]:
d.update({"Name":"Mahesh"})

In [125]:
d

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [126]:
d1={"Name":"Abhishek","Age":26}

In [127]:
d2={"City":"Hyderabad","Salary":"10000"}

In [128]:
d1.update(d2)

In [129]:
d1

{'Name': 'Abhishek', 'Age': 26, 'City': 'Hyderabad', 'Salary': '10000'}

In [130]:
d

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [131]:
d.keys()

dict_keys(['Name', 'Age', 'Blood Group', 'City', 'Salary'])

In [132]:
d.values()

dict_values(['Mahesh', 26, 'O+', 'Hyderabad', '10000'])

In [133]:
d

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [134]:
d["Name"]

'Mahesh'

In [135]:
d["Age"]

26

In [136]:
d.get("Name")

'Mahesh'

In [137]:
d.get("City")

'Hyderabad'

In [138]:
d

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [139]:
l=[1,2,3,4,5,6]

In [147]:
t=(1,2,3,4,5,6)

In [149]:
d.fromkeys(t,"Hello")

{1: 'Hello', 2: 'Hello', 3: 'Hello', 4: 'Hello', 5: 'Hello', 6: 'Hello'}

In [154]:
d.copy()

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [155]:
d.items()

dict_items([('Name', 'Mahesh'), ('Age', 26), ('Blood Group', 'O+'), ('City', 'Hyderabad'), ('Salary', '10000')])

In [156]:
d

{'Name': 'Mahesh',
 'Age': 26,
 'Blood Group': 'O+',
 'City': 'Hyderabad',
 'Salary': '10000'}

In [157]:
d.clear()

In [158]:
d

{}

In [159]:
d1={"Name":"Abhishek","Age":26}

In [160]:
del d1["Name"]

In [161]:
d1

{'Age': 26}

In [178]:
d1={"Name":1,"Agee":26,"Pyth":23}

In [184]:
max(d1.values())

26

In [185]:
min(d1.values())

1

In [186]:
len(d1)

3