In [1]:
print("This  is sample code")
print("This  is sample code1")
print("This  is sample code2")
print("This  is sample code3")
print("This  is sample code4")
print("This  is sample code5")
print("This  is sample code6")
print("This  is sample code7")

This  is sample code
This  is sample code1
This  is sample code2
This  is sample code3
This  is sample code4
This  is sample code5
This  is sample code6
This  is sample code7

In [6]:
#Declare a function
def display():
    ##code
    print("This  is sample code")
    print("This  is sample code1")
    print("This  is sample code2")
    print("This  is sample code3")
    print("This  is sample code4")
    print("This  is sample code5")
    print("This  is sample code6")
    print("This  is sample code7")

In [7]:
#call a function
display()

This  is sample code
This  is sample code1
This  is sample code2
This  is sample code3
This  is sample code4
This  is sample code5
This  is sample code6
This  is sample code7

In [19]:
def add():
    print(a+b)

In [20]:
a=10
b=20
add()

30

In [21]:
def display():
    print("This is static content")
    print("This is sample code")

In [22]:
display()

This is static content
This is sample code

In [54]:
def display(data1,data2):#With argument
    print(data1)
    print(data2)

In [55]:
display("This is sample","This is a second sample")

This is sample
This is a second sample

In [37]:
display("This is dynamic content")

This is dynamic content

In [38]:
display("This is test")

This is test

In [39]:
def add():
    print(1+2)

In [40]:
add()

3

In [28]:
def add(a,b):
    sum1=a+b
    sub=a-b
    div=a*b
    return sum1

In [29]:
c=add(50,60)

In [30]:
print(c)

110

In [33]:
def add(a,b):
    sum1=a+b
    sub=a-b
    div=a*b
    return sum1,sub,div

In [51]:
sum1,sub,div=add(60,50)

In [52]:
t

(110, 10, 3000)

In [53]:
sum1

110

In [54]:
sub

10

In [55]:
div

3000

In [8]:
def add(a,b):
    c=a+b
    return c

In [9]:
add(5,6.6)

11.6

In [10]:
add("Hello","World")

'HelloWorld'

In [11]:
def data(name,age,city):
    print("Name:",name)
    print("Age:",age)
    print("City:",city)

In [15]:
data("Abhishek",26,"Hyderabad")

Name: Abhishek
Age: 26
City: Hyderabad

In [18]:
data("Abhishek","Hyderabad",26)

Name: Abhishek
Age: Hyderabad
City: 26

In [19]:
def data(name,age,city):
    print("Name:",name)
    print("Age:",age)
    print("City:",city)

In [20]:
data(city="Hyderabad",name="Abhishek",age=26)

Name: Abhishek
Age: 26
City: Hyderabad

In [22]:
data("Abhishek",city="Hyderabad",age=26)

Name: Abhishek
Age: 26
City: Hyderabad

In [24]:
data(name="Abhishek",26,"Hyderabad")

SyntaxError: positional argument follows keyword argument (<ipython-input-24-180be2e319c4>, line 1)

In [29]:
data("Abhishek",26,city="Hyderabad")

Name: Abhishek
Age: 26
City: Hyderabad

In [42]:
def data(name,age,gender="Male",city="Hyderabad"):
    print("Name:",name)
    print("Age:",age)
    print("Gender:",gender)
    print("City:",city)

In [52]:
data("Abhishek",age=26)

Name: Abhishek
Age: 26
Gender: Male
City: Hyderabad

In [53]:
def data(name,age,gender="Male",city="Hyderabad"):
    print("Name:",name)
    print("Age:",age)
    print("Gender:",gender)
    print("City:",city)

In [54]:
def data(name,age):
    print("Name:",name)
    print("Age:",age)

In [97]:
data("Abhishek",26,"Hyderabad")

Name: Abhishek
Age: 26
Data: ('Hyderabad',)

In [113]:
def data(name,age,*data):
    print("Name:",name)
    print("Age:",age)
    print("Data:",data)

In [114]:
data("Abhishek",26)

Name: Abhishek
Age: 26
Data: ()

In [115]:
data("Abhishek",26,"Hyderabad")

Name: Abhishek
Age: 26
Data: ('Hyderabad',)

In [116]:
data("Abhishek",26,"Hyderabad","O+")

Name: Abhishek
Age: 26
Data: ('Hyderabad', 'O+')

In [121]:
data("Abhishek",26,"Hyderabad","O+","767676767676","7777777")

Name: Abhishek
Age: 26
Data: ('Hyderabad', 'O+', '767676767676', '7777777')

In [122]:
def data(name,**data):
    print("Name:",name)
    print("Data:",data)

In [123]:
data("Abhishek")

Name: Abhishek
Data: {}

In [126]:
data("Abhishek",age=26,city="Hyderabad")

Name: Abhishek
Data: {'age': 26, 'city': 'Hyderabad'}

In [131]:
data("Abhishek",age=26,city="Hyderabad",Blood_Group="o+",mobile="56565656")

Name: Abhishek
Data: {'age': 26, 'city': 'Hyderabad', 'Blood_Group': 'o+', 'mobile': '56565656'}

# Lambda Function

In [132]:
#func_name=lambda arguments:expression

In [133]:
a=lambda data:data

In [134]:
a("This is lambda function")

'This is lambda function'

In [135]:
add=lambda a,b:a+b

In [136]:
add(5,6)

11

In [137]:
add=lambda a,b=6:a+b

In [138]:
add(4)

10

In [139]:
add=lambda a,b,c,d:a+b-c-d

In [140]:
add(5,6,1,2)

8

In [146]:
add=lambda a,*data:data

In [147]:
add(1,2,3,4,5,6)

(2, 3, 4, 5, 6)

# Recurrsion

In [1]:
def display(a):
    print("This is a function")
    print(a)

In [2]:
display(20)

This is a function
20

In [13]:
#Recurrsion
def display(a):
    #Base Condition
    if(a==10):
        return a
    print(a)
    a+=1
    display(a)

In [14]:
a=0
display(a)

0
1
2
3
4
5
6
7
8
9

In [37]:
#5 4 3 2 1
def printn(n):
    if(n==1):
        return 1
    n=n-1
    printn(n)
    print(n,end=' ')

In [38]:
printn(5)

1 2 3 4

In [39]:
def fact(n):
    if(n==1):
        return 1
    return n*fact(n-1)

In [43]:
fact(6)

720