In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

In [3]:
dataset = pd.read_csv(r"C:\Users\Raju\Downloads\sales_data.csv")

In [4]:
dataset

,User_ID,Product_ID,Gender,Age,Occupation,City,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,Hyderabad,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,Hyderabad,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,Hyderabad,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,Hyderabad,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,Chennai,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,Bangalore,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,Chennai,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,Bangalore,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,Chennai,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,Bangalore,4+,1,20,NaN,NaN,490

## Hypothesis Testing::
Null Hypothesis(Ho)::Proportion of the banglore customers are more than 40%
                     ,P>40%

Alternate Hypothesis::Proportion of the banglore customers are less than or equal to 40%
                      ,P<=40%

### Sampling::

In [5]:
import random

In [6]:
sample_data = random.choices(dataset["City"],k=n)  ##K value is number of samples that need to be extracted

In [7]:
sample_data.

SyntaxError: invalid syntax (<ipython-input-7-ff59f8d3e37a>, line 1)

## One Sample Proportion Z Test::

#### Zcal = p^-p0/sqrt(p0(1-p0)/n)
1. p^--proportion according to null Hypothesis
2. P0--proportion of the sample
3. n--Sample Size

In [9]:
p_hat = 0.4

In [10]:
sample_data = pd.Series(sample_data)

In [11]:
sample_data

0     Bangalore
1     Hyderabad
2       Chennai
3     Hyderabad
4       Chennai
        ...
95    Bangalore
96    Hyderabad
97    Hyderabad
98      Chennai
99    Bangalore
Length: 100, dtype: object

In [12]:
sample_data.value_counts()

Hyderabad    43
Bangalore    36
Chennai      21
dtype: int64

In [13]:
p_data = sample_data.value_counts()/sample_data.value_counts().sum()

In [14]:
p_0 = p_data["Bangalore"]

In [15]:
p_0

0.36

In [16]:
n=100

In [17]:
z = (p_hat-p_0)/np.sqrt((p_0*(1-p_0))/n)

In [18]:
z

0.833333333333334

In [19]:
ztab= -1.64

In [20]:
if(z<ztab):
    print("Reject the NULL hypothesis")
else:
    print("Accept The Null Hypothesis")

Accept The Null Hypothesis

In [21]:
#We significantly conclude that proportion od banglore customers is 40% approximately

In [ ]:
dataset.mean()